In [13]:


#1
L=[1, 2, 3, 4, 5]
L[1:3] = [100]
print L

#2
L=[1, 2, 3, 4, 5]
L[1:3] = [(100)]
print L

[1, 100, 4, 5]
[1, 100, 4, 5]

In [12]:
#3
L=[1, 2, 3, 4, 5]
L[1:3] = 100
print L

TypeError: can only assign an iterable

In [11]:
#4
L=[1, 2, 3, 4, 5]
L[1:3] = (100)
print L

TypeError: can only assign an iterable

In [17]:
#5
L=[1, 2, 3, 4, 5]

L[1:3] = (100, 101, 102)
print L

[1, 100, 101, 102, 4, 5]

In [19]:
#6
L=[1, 2, 3, 4, 5]
L[1:3] = [100, 101, 102]
print L

[1, 100, 101, 102, 103, 4, 5]

In [20]:
#7
L=[1, 2, 3, 4, 5]
L[1:3] = [(100, 101, 102)]
print L

[1, (100, 101, 102), 4, 5]

In [21]:
#8
L=[1, 2, 3, 4, 5]
L[1:3] = [[100, 101, 102]]
print L

[1, [100, 101, 102], 4, 5]

In [35]:
s = 'Hello World and Python'
a = s.split()
a.reverse()

b =' '.join(a)

print b

b = ''.join(a)
print b

Python and World Hello
PythonandWorldHello

### 3_2
split과 join 메소드를 사용해서 결과물 출력

In [39]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3

print b
print c

a[0]=0

# 1)
print b
print c

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

### 3_3
2) b에는 리스트 a의 각 원소들을 순차적으로 포함하는 새로운 리스트를 생성한다. 이때 각 원소는 a각 원소의 값을 deepcopy한 것이다.
c는 리스트 a전체를 하나의 원소로 하는 리스트를 생성한다. 때문에 a의 값을 변경하면 b는 아무 변경점이 없지만 c는 a를 원소로 갖고 있기 때문에 변경점이 생기게 된다.

In [53]:
s = '  first star   :   second star   :    third star  '
s = s.split(':')

l_for = []


for word in s:
    l_for.append(word.strip())

print l_for

l_com = [word.strip() for word in s]

print l_com

['first star', 'second star', 'third star']
['first star', 'second star', 'third star']

### 3_4

1.  for ~ in 문을 이용한 코드를 작성하시오. -> for문으로 생성한 리스트 l_for

2. 리스트 내포(list comprehension)를 이용한 코드를 작성하시오. -> list comprehension으로 생성한 리스트 l_com

In [52]:
#리스트의 모든 원소 더하기 for문으로 구현
def addall(listA):
    sum  = 0
    for i in listA:
        sum+=i
        
    return sum

#리스트의 모든 원소 더하기 리스트 내포문으로 구현
def addall_2(listA):
    return sum([i for i in listA])

#리스트의 모든 홀수 더하기 for문으로 구현
def addallodd(listA):
    sum = 0
    for i in listA:
        if i%2==1:
            sum+=i
    return sum
#리스트의 모든 홀수 더하기 리스트 내포문으로 구현    
def addallodd_2(listA):
    return sum([i for i in listA if i%2==1])

#결과 확인
li = [1,2,3,4,5,6,7,8,9,10]

print addall(li), addall_2(li), addallodd(li), addallodd_2(li)

55 55 25 25

### 3_5 

각각 for문과 리스트 내포문을 사용해서 함수를 구현하였습니다.

In [117]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print d
print e
print f
print
d['low'] = [10, 20, 30]
d['high'][1] = 500
print d
print e
print f

{'high': [4, 5, 6], 'low': [1, 2, 3]}
{'high': [4, 5, 6], 'low': [1, 2, 3]}
{'high': [4, 5, 6], 'low': [1, 2, 3]}

{'high': [4, 500, 6], 'low': [10, 20, 30]}
{'high': [4, 500, 6], 'low': [10, 20, 30]}
{'high': [4, 500, 6], 'low': [1, 2, 3]}

### 3_6
e = d
f = d.copy() 모두 shallow copy라는 점이 같지만 

e는 d객체에 대한 shallow copy가 이루어지고, f는 새로운 dictionary를 생성한 후에 d의 각 원소들에 대한 shallow copy를 한다는 점이 다르다.

In [89]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}

d_keys = d.keys()
d_values = d.values()

#1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
d_keys.sort()

for i in d_keys:
    print i, d.get(i)
    
print '-'*30

#2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
d_keys.sort(reverse=True)
for i in d_keys:
    print i, d.get(i)
    
print '-'*30

#3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
for i in sorted(d, key=d.get, reverse=True):
    print i, d.get(i)


print '-'*30

#4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
for i in sorted(d, key=d.get):
    print i, d.get(i)

five 5
four 4
one 1
three 3
two 2
------------------------------
two 2
three 3
one 1
four 4
five 5
------------------------------
five 5
four 4
three 3
two 2
one 1
------------------------------
one 1
two 2
three 3
four 4
five 5

### 3_7

In [163]:
def isPrime(num):
    if num == 2 :
        return True
    
    elif num > 2:
        for i in range(2, int((num)**(0.5))+1):
            if num%i == 0:
                return False
        
        return True
    

i = 2
c = 1
while (c < 10002):
    if isPrime(i):
        c+=1
        if c==10001:
            print `c` + '번째 = ' + `i`

    
    i+=1

10001번째 = 104729

### 오일러 7번

In [125]:
s = str(7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450)

max = 0

startIndex = 0

for i in range(0, len(s)-5):
    temp=1
    
    for j in range(i, i+5):
        temp *= int(s[j])
    
    if temp > max:
        max = temp

print max

40824

### 오일러 8번

주어진 숫자를 문자열로 바꾼 뒤 5자리씩 읽어서 각 값을 곱하여 최대값을 구하였습니다.

In [156]:
# a+b+c =1000인 피타고라스 수

findNum=False

for a in range(1, 1000):
    for b in range(1, 1000):
        for c in range(1, 1000):
            if (a+b+c==1000) and ((a < b) or (b<c)) and (a**2 + b**2 == c**2):
                print a*b*c
                findNum=True
                break
    if findNum:
        break
        
print "done"

31875000
done

### 오일러 9번

주어진 숫자를 문자열로 바꾼 뒤 5자리씩 읽어서 각 값을 곱하여 최대값을 구하였습니다.